.class{
    width: 945px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 41px;
    margin-left: 55px;
    margin-top: -700px;
    &_img{
        display: inline;
        margin-right: 10px;
    }
    &_div{
        display: flex;
    }
    &_div1{
        display: flex;
        margin-left: 58px;
        white-space: nowrap;
        margin-top: 20px;
    }

    &_p1{
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

    &_p2{
        margin-right: 9px;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        margin-left: 900px;
    }
}

.class_img1{
    margin-left: 9px;
}

.rivoj{
    margin-left: 15px;
    &_list{
        display: flex;
        list-style: none;
        width: 950px;
        position: relative;
    }

    &_item{
        width: 300px;
        height: 309px;
        padding-right: 20px;
    }

    &_item:hover{
        box-shadow: 2px 2px 10px 1px #eeeeee;
        cursor: pointer;
    }

    &_span{
        position: absolute;
        margin-top: -36px;
        width: 80px;
        height: 20px;
       padding: 6px 16px;
       font-family: "Montserrat";
       font-size: 12px;
       font-weight: 500;
       line-height: 20px;
       background-color: #0C2F75;
       color: #ffffff;
    }

    &_p{
        margin-top: 10px;
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.chap_img{
    margin-right: 0px;
    margin-top: 5px;
}

.div{
    margin-top: 32px;
    padding: 22px 30px 21px 25px;
    background-color: #F0F0F0;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    border-left:  2px solid #2246C5 ;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

}

.img01{
    width: 1200px;
    height: 140px;
    margin-top: 50px;
    margin-left: 58px;
    margin-bottom: 20px;
}

